__pycache__/test_dice_game.cpython-313.pyc
__pycache__/dice_game.cpython-310.pyc
__pycache__/dice_game.cpython-313.pyc
gcm_login.err
gcm_login.out
__pycache__/dice_game.cpython-311.pyc
__pycache__/test_dice_game.cpython-311.pyc
dicegame/__pycache__/cli.cpython-311.pyc
dicegame/__pycache__/__init__.cpython-311.pyc
dicegame/__pycache__/app.cpython-311.pyc
dicegame/__pycache__/constants.cpython-311.pyc
dicegame/__pycache__/gui.cpython-311.pyc
dicegame/__pycache__/scoring.cpython-311.pyc
dicegame/__pycache__/engine.cpython-311.pyc
__pycache__/test_engine.cpython-311.pyc
dicegame/__pycache__/__init__.cpython-313.pyc
dicegame/__pycache__/app.cpython-313.pyc
dicegame/__pycache__/cli.cpython-313.pyc
dicegame/__pycache__/constants.cpython-313.pyc
dicegame/__pycache__/engine.cpython-313.pyc
dicegame/__pycache__/gui.cpython-313.pyc
dicegame/__pycache__/scoring.cpython-313.pyc
